/* YOUR CSS GOES HERE */

/* GLOBAL */

html {
	box-sizing: border-box;
	width: 640px;
	margin: auto;
	color: #111;
}

*, *:before, *:after { 
	box-sizing: inherit; 
}

* {
	margin: 0;
	padding: 0;
}

h1, h2, h3 {
	font-family: sans-serif;
}

h1 {
	font-size: 2.8em;
	text-transform: uppercase;
	padding-top: 30px;
}

h2 {
	font-size: 1.7em;
	padding: 20px 0;
}

h3 {
	font-size: 1.3em;
	padding: 10px 0;
}

p, li, blockquote {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 1.04em;
}

p, blockquote {
	line-height: 1.6em;
}

p {
	padding: 20px 0;
}

a {
	color: #0074d9;
}

blockquote {
	background-color: #ddd;
	padding: 8px 10px 15px 10px;
	margin-bottom: 15px;
}

ul, li {
	padding: 5px 0;
}

li {
	margin-left: 16px;
}

img {
	width: 100%;
	padding-bottom: 15px;
}

.video  {
	width: 640px;
	height: 400px;
	padding: 10px 0 20px 0;
}

hr {
	margin: 30px 0 55px 0;
}