@media (min-width: 750px) {
	html {
		background-image: url("../images/black-texture.png");
		background-size: contain;
		width: 100%;
	}

	body {
		width: $query-04-content-width;
		margin: 0 auto;
		background-color: hsla(255, 255, 255, 0.8);
	}

	header {
		background-image: none;
	}

	h1, h2 {
		color: #000;
	}

	h2 {
		border-bottom: 3px solid #000;
		margin-bottom: 30px;
	}
} 