$line-height: 1.5rem;

$query-01-content-width: 300px;
$query-02-content-width: 400px;
$query-03-content-width: 550px;
$query-04-content-width: 650px;
$query-05-content-width: 800px;

$header-font: 'IM Fell English SC', serif;
$copy-font: 'IM Fell English', serif;